html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

.section-title {
  margin-top: .5em;
  margin-bottom: .5em;
}

.btn-addMargin {
  margin-top: .5em;
  margin-bottom: .5em;
}

form {
  height: calc(100% - 10px);
}

.book-image {
  max-width: 200px;
  max-height: 300px;
}

a.button {
    border: 2px solid #004400;
    color: var(--dark-green);
    border-radius: 4px;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: 400;
  }
  
  a.button:hover {
    text-decoration: none;
    background-color: var(--dark-green);
    color: var(--light-green);
  }

.github-container {
    float: right;
    list-style: none;
    align-self: center;
    margin-top: 1em;
    margin-left: .5em;
}

.metadata {
  display: flex;
  color: var(--dark-green);
  font-size: 14px;
}

@media screen and (max-width: 765px) {
  form {
    width: 100%;
  }

  .github-container {
    display: none;
  }
}
