<!DOCTYPE html>
<html>
<head>
<title>Bookshelf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Bookshelf</div>
    </div>
    {{if .LoggedIn }}
    <ul class="nav navbar-nav">
      <li><a href="/books">Books</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    {{ end }}
    <ul class="github-container">
      <li><a href="https://github.com/samuelbutton/sbutton-bookshelf" class="github-button button">View on Github</a></li>
    </ul>
  </div>
  
</div>
<div class="container">
  {{template "body" .Data}}
</div>
</body>
</html>
