<h3>Login</h3>
  
<form method="post" enctype="multipart/form-data" action="/login">
  <div class="form-group">
    <label for="title">Email</label>
    <input class="form-control" name="email" id="email" value="" required maxlength="255" type="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" name="password" id="password" value="" required maxlength="255" type="password">
  </div>
  <button class="btn btn-success">Submit</button>
</form>
